.navbar {
  background-color: white;
  border-bottom: 1px solid $light-gray;
  width: 100vw;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  .title {
    font-size: 24px;
    letter-spacing: 1px;
    color: #AAE4E9;
  }
}

.content {
  margin: 62px auto 0 auto;
  padding: 50px;
  max-width: 1200px;
}

.module {
  padding: 30px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid $light-gray;
}

.selector {
  flex: 1;
  &:first-child { margin-right: 5px; }
  &:last-child { margin-left: 5px; }

  .header {
    width: 100%;
    padding-bottom: 15px;
    box-sizing: border-box;
  }

  .scale-options {
    margin-top: 12px;
    align-items: center;
    justify-content: flex-end;
    .option {
      padding: 5px 10px;
      border-radius: 6px;
      background-color: $lightest-gray;
      color: $dark-gray;
      cursor: pointer;
      transition: .2s ease;
      margin-left: 5px;
      &-active {
        font-weight: bold;
        background-color: $light-blue;
        color: $blue;
      }
      &:hover {
        background-color: $blue;
        color: $light-blue;
      }
    }
  }

  .warning {
    height: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    span { color: $red }
  }

  .select {
    &__control {
      font-family: $text;
      color: $gray;
    }
    &__menu {
      font-family: $text;
      color: $gray;
    }
  }

}

.vis {
  background: linear-gradient(60deg, $teal, $blue);
  background: -webkit-linear-gradient(60deg, $teal, $blue);
  header {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    h1 { color: white; }
    h3 { color: white; padding: 0 15px; }
  }
}

.histogram {
  margin-top: 30px;
  border-top: 1px solid $gray;
  padding-top: 15px;
  h4 { margin-bottom: 30px; }
}
