.navbar {
  background-color: white;
  border-bottom: 1px solid $light-gray;
  width: 100vw;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  .title {
    font-size: 24px;
    letter-spacing: 1px;
    color: #AAE4E9;
  }
}
