body {
  background-color: $lightest-gray;
}

h1 {
  font-family: $display;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h2 {
  font-family: $header;
  font-size: 28px;
  text-transform: uppercase;
}

h3 {
  font-family: $header;
  font-size: 18px;
  color: $gray;
  font-weight: bold;
}

h4 {
  font-family: $header;
  font-size: 12px;
  text-transform: uppercase;
}

span {
  font-family: $text;
  font-size: 13px;
  letter-spacing: 1.5px;
}

input[type="text"] {
  font-family: $text;
  transition: .5s ease;
  padding: 10px;
  border-radius: 4px;
  &::placeholder {
    text-transform: uppercase;
    font-size: 12px;
  }

}

input[type="button"] {
  font-family: $text;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-column-gap: 10px;
  &__2 {
    grid-template-columns: auto auto;
  }
  &__3 {
    grid-template-columns: auto auto auto;
  }
}
